:root {
  --text-color: rgb(0, 0, 0);
  --text-color-claro: rgb(255, 255, 255);
  --text-hover-color-claro: rgb(209, 209, 209);
  --text-hover-color: rgb(0, 0, 0, 0.5);
  --texto-color-titulos-sobrefondooscuro: rgb(255, 255, 255);
  --texto-hover-contraste: rgba(219, 118, 3, 0.6);
  /* No se ha podido utilizar el siguente código ya que falla la subida a Netlify*/
  --gradiente-categorias-fondo: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));

}



body {
  background: black;
  margin: 0px;
  padding: 0px;
  text-align: justify;
  font-family: 'Tinos', serif;

}

main {
  color: var(--text-color-claro);
}

@media (min-width: 768px) {
  main {
    font-size: 1.2rem;
  }
}

header,
footer {
  background-color: rgb(30, 30, 30);
}

a:hover {
  color: var(--texto-hover-contraste);
}

a {
  transition: color 0.2s linear;
}

header {
  position: sticky;
  top: 0px;
  z-index: 200;
}

nav ul {
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
}

@media (min-width: 768px) {
  nav ul {
    text-align: right;
    padding: 20px 30px;
    margin: 0px;
  }
}

nav li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 800;
}

@media (min-width: 768px) {
  nav li {
    display: inline-block;
    margin-right: 5px;
    padding: 10px 20px;
  }
}


header a {
  color: var(--text-color-claro);
  text-decoration: none;
}

header a:hover,
footer a:hover {
  color: var(--text-hover-color-claro);
}

footer {
  padding: 10px;
}

footer ul {
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
}

footer li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 800;
}

footer ul.redes_sociales li {
  display: inline-block;
  margin-right: 20px;
}

@media (min-width: 768px) {
  footer ul.menu_footer li {
    display: inline-block;
    margin-right: 20px;
  }
}

footer ul.redes_sociales {
  padding-top: 0px;
}

.elevado {
  position: relative;
  z-index: 50;
}

h1.titulo_x3 {
  font-size: 3rem;
}

.sinmargensuperior {
  margin-top: 0px;
}

@media (min-width:768px) {
  h1.titulo_x3 {
    font-size: 5rem;
  }
}


h1.texto_centrado {
  text-align: center;
}

.h2_subtitulo {
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
}

.h2_subtitulo2 {
  margin-top: 40px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-align: center;
}

.contenedor {
  margin: 0 auto;
  max-width: 90%;
}

@media (min-width:768px) {
  .contenedor {
    margin: 0 auto;
    max-width: 60%;
  }
}

.contenedor_fullscreen {
  margin: 0px;
  padding: 0px;
  background-image: url("./img/chaplin1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_fullscreen2 {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url("./img/chaplin10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor_fullscreen:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

h1.texto_claro {
  color: var(--texto-color-titulos-sobrefondooscuro);
}

.mayusculas {
  text-transform: uppercase;
}

.categoria {
  text-align: center;
  padding: 40px 20px;
  margin: 10px;
  min-height: 300px;
}


.categoria_1 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin8c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.categoria_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categoria_3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categoria_4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categoria_5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.categoria_6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("./img/chaplin14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width:768px) {
  .categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 5px;
  }
}

a:hover .boton_1 {
  color: var(--text-color-claro);
}


.boton_1 {
  border: solid 1px white;
  padding: 10px 30px;
  width: 80px;
  margin: auto;
  margin-top: 20px;
  transition: background-color 0.6s ease-in-out 0.1s;
}

a {
  color: var(--text-color-claro);
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  85% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}


.boton_1:hover {
  background-color: rgba(61, 61, 61, 0.381);
  animation: bounce .6s;
}


div.detalle img {
  width: 100%;
}

.detalle_2 {
  padding: 20px 15px;
}

@media (min-width:768px) {
  .detalles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    grid-gap: 50px;
    margin: 80px;
  }

  .detalle_1 {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .detalle_2 {
    grid-column: 2/4;
    grid-row: 1;
  }
}

dl {
  border-left: solid white 3px;
  padding-left: 15px;
  ;
}

dt {
  font-weight: bold;
  font-size: 1.1rem;
}

dd {
  margin-left: 0px;
  margin-bottom: 10px;
}

img.img_ancho_completo {
  width: 100%;
  height: auto;
}

.contenedor_video {
  margin-top: 15px;
  margin-bottom: 35px;
  display: inline-block;
  position: relative;
  padding-bottom: 60%;
  width: 100%;
}



.contenedor_video iframe {
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
}

.texto_centrado_x2 {
  font-size: 2rem;
  text-align: center;
}




@media (max-width:768px) {

  .norespmenu {
    display: none;
  }

  .respmenu {
    padding: 10px;
  }

  .respmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #525557;
    ;
    text-shadow: 1px 1px black;
  }

  .respmenu input[type="checkbox"],
  .respmenu .fa-bars,
  .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
  }

  .respmenu .fa-bars,
  .respmenu .fa-times {
    font-size: 30px;
    pointer-events: none;

  }

  .respmenu input[type="checkbox"] {
    opacity: 0;
  }

  .respmenu {
    color: white;
    position: relative;
    min-height: 30px;
  }

  .respmenu nav ul {
    padding-top: 46px;
  }

  .respmenu nav li {
    display: block;
  }

  .respmenu nav {
    display: none;
  }

  .respmenu input:checked~nav {
    display: block;
  }

  .respmenu input:checked~.fa-bars {
    display: none;
  }

  .respmenu input:not(:checked)~.fa-times {
    display: none;
  }


}

@media (min-width:768px) {
  .respmenu {
    display: none;
  }
}



div.logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

.logo p {
  font-size: 25px;
  color: white;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 7px;
  margin-left: 10px;
}

.logo img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (min-width:768px) {
  .logo p {
    font-size: 40px;
    margin-top: 18px;
  }

  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

}

.logo a:hover {
  color: var(--text-color-claro);
}

.subheader_elemento {
  text-align: center;
  margin: 2px;
  padding: 6px 2px;
  background-color: #6f6f6f59;
  transition: background-color 0.3s linear 0s;
}

.subheader_elemento:hover {
  background-color: #6f6f6f77;
}

a .subheader_elemento {
  color: rgba(255, 255, 255, 0.5);
}

.subheader_elementos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 0px;
  margin: 0px;
}

@media (min-width:768px) {
  .subheader_elementos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 0px;
    margin: 0px;
  }
}

.no_margin_top {
  margin-top: 0px;
}

/* clip path de pagina portada */
.clipSvg1 {
  clip-path: url(#miClip1);
}

.fondoClip1 {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(58, 58, 58));
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.miClip1a {
  transform: scale(2.0);
  /*, translate(0, 0)*/
}

@media (min-width:768px) {
  .miClip1a {
    transform: scale(3.0);
  }

  .fondoClip1 {
    width: 180px;
    height: 150px;
  }

}

/*animación pagina presentación*/

@keyframes animacion1 {
  0% {
    transform: scale(2) translate(-60px, -20px) rotate(-20deg);
  }

  50% {
    transform: scale(2) translate(60px, -20px) rotate(20deg);
  }

  100% {
    transform: scale(2) translate(-60px, -20px) rotate(-20deg);
  }
}

#animacion1 {
  fill: white;
  transition: fill 0.5s ease-out;
  transform: scale(2) translate(0px, -20px);
  animation: animacion1 5s linear infinite;
  transform-origin: 25.45px 40.9px;
}

#animacion1:hover {
  fill: rgb(141, 112, 112);
}

div.contenedor_animacion1 {
  width: 70px;
  height: 45px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.detalle_img {

  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.detalle_imgin img {
  width: 100%;
  height: auto;
}

.detalle2_img {

  display: flex;
  gap: 30px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.detalle2_imgin {
  max-width: 399px;
  height: auto;
}

div.detalle2_imgin img {
  width: 100%;
}


.nav2_footer li {
  color: var(--text-color-claro);
  padding-top: 5px;
}

.nav2_footer li ul {
  display: none;
  position: absolute;

  background: #0f0f0f;
  ;
  /*background: #1e1e1e;*/
  color: var(--text-color-claro);
  margin-top: -178px;
  left: 0px;
  width: 100%;

}

.nav2_footer input:checked~ul {
  display: block;
  border-bottom: solid 2px white;
}

.nav2_footer li ul li {
  display: block;
  margin-right: 30px;
  margin-left: 30px;
}

/*
.nav2_footer li:hover>ul {
  display: block;
}
*/

.nav2_footer input[type="checkbox"] {
  position: absolute;
  margin-right: -50px;
  width: 75px;
  height: 30px;
  opacity: 0;
}


.nav2_footer input[type="checkbox"]:hover {
  cursor: pointer;
}


.menu_activo {
  background-color: #dfdfdf2e;
}

ul.redes_sociales a img {
  height: 34px;
  width: 34px;
}

div.espaciado {
  height: 3000px;
}